body {
  margin: 0px;
  background: white;
}

h1 {
  width: 100vw;
  background: white;
  align-content: center;
}

.picture {
  width: 100vw;
  height: 40vw;
  background-image: url("PngItem_6768324.png");
  background-position: center;
  background-size:100px;
}

.adding-a-name {
  width: 200px;
  height: 100px;
  background-color: white;
}
